<%- include('partials/head.ejs', { title: 'Game Arena' }) %>
<%- include('partials/alert.ejs') %>
<%- include('partials/menu.ejs', {userName : user.userName}) %>


<h2>
    Please, choose game you want to compete in:
</h2>

<table class="table table-hover">
<tbody>
<% for (var game of games) { %>
<tr>
    <td> <%= game.gameID %> </td>
    <td> <strong><%= game.name %> </strong> </td>
    <td> <a href="/games/<%= game.gameID %>">Get in</a> </td>
</tr>
<% } %>
</tbody>
</table>


<%- include('partials/end.ejs') %>