<%- include('partials/head.ejs', { title: 'Upload Game' }) %>
<%- include('partials/alert.ejs') %>
<%- include('partials/menu.ejs', {userName : user.userName}) %>


Complete requested fields and click submit to upload your new game ! 

<% var username = user.userName %>
<%= username %>

<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

<style>
    textarea {
        min-width: 500px;
        min-height: 300px;
    }
    #upload-form {
        margin: 20px

    }
</style>


    <form id="send-game" method="post" enctype="multipart/form-data">
            Game ID:<br>
            <input type="text" name="gameID"><br>
            Game title:<br>
            <input type="text" name="gameTitle"><br>
            <br>
            Game archive:<br>
            <input name="gameArchive" type="file"><br>
            Language: <input type="text" name="gameLanguage"><br>
            <input id="upload" type="submit" value="Upload">
    </form>



<script>
    $('#send-game').on('submit', e => {
        console.log('CHUJ');
        e.preventDefault();
        var data = new FormData();

        var archiveFile = $('#send-game :input[name="gameArchive"]')[0];
        data.append('archive', archiveFile.files[0]);
        
        var title = $('#send-game :input[name="gameTitle"]')[0];
        data.append('title', title.value);

        var ID = $('#send-game :input[name="gameID"]')[0];
        data.append('ID', ID.value );

        var language = $('#send-game :input[name="gameLanguage"]')[0];
        data.append('language', language.value);

        data.append('username', "<%= user.userName %>");

        fetch('/upload/upload-run', {
            method: 'post',
            body: data
        })  .then(response => response.json())
            .then(
                response => {
                    console.log(response);
                }
            )
            .catch(console.error);
    });

</script>